<% @pg_title="Contact Me" %>

<div class="well">
	<div class="page-header">
		<h1>Contact Me</h1>
	</div>
	<p>
		Greetings! I'm estatic that you found my website in the first place, let alone the fact that you'd like to reach out and get a hold of me. Here's where you'll be most likely to reach me...
	</p>
</div>


