<div class="well">
	<div class="page-header">
		<h1>Welcome!</h1>
	</div>
	<p>
		Progress towards my new website
		<div class="progress">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
		    <span class="sr-only">10% Complete (warning)</span>
		  </div>
		</div>
	</p>

	<p>Welcome to my humble abode! My name is King601 and I have been on the internet since before I can remember. 
</div>


