<% @pg_title="Home" %>

<div class="well">
	<div class="page-header">
		<h1>Welcome!</h1>
	</div>
	<div class="Well">
		<div class="col-md-6">
			<p>Hello visitor from the internet! My name is King601 and I am a gamer. I make YouTube videos for fun and I run Minecraft Servers. I like to try my hand at just about anything that looks fun and sometimes I get fustrated with things and just forget about 'em.</p>

			<p>I finally <del>got around to making</del> made myself build my website on Ruby on Rails so please check it out and <%= link_to "Contact Me", contact_path %> if you have a question.</p>
		</div>
		<div class="col-md-6">

				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/king601" data-widget-id="408078926028623872">Tweets by @king601</a>
				

		</div>
		&nbsp
	</div>

		Progress towards my new website
		<div class="progress">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
		    <span class="sr-only">15% Complete (warning)</span>
		  </div>
		</div>
</div>
